flows.json
[{"id":"9b665e3e.49f8d","type":"tab","label":"Summary","disabled":false,"info":""},{"id":"fb2ff50d.7cb178","type":"ui_gauge","z":"9b665e3e.49f8d","name":"","group":"991e2108.00a6d","order":2,"width":3,"height":3,"gtype":"gage","title":"Total Confirmed Cases","label":"","format":"{{value}}","min":0,"max":"500000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100,"y":240,"wires":[]},{"id":"a09d7263.f052f","type":"function","z":"9b665e3e.49f8d","name":"","func":"totalConfirmedCase = 0;\n\nmsg.payload.Countries.map(function(line){\n    totalConfirmedCase += line.TotalConfirmed;\n});\n\nmsg.payload = totalConfirmedCase;\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":240,"wires":[["fb2ff50d.7cb178"]]},{"id":"865eabbc.51a398","type":"inject","z":"9b665e3e.49f8d","name":"Hourly updates","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"0 0 * * *","once":false,"onceDelay":0.1,"x":300,"y":380,"wires":[["5fa180f3.64f35"]]},{"id":"5fa180f3.64f35","type":"http request","z":"9b665e3e.49f8d","name":"Summary - Covid-19","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.covid19api.com/summary","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":240,"wires":[["a09d7263.f052f","c51c0423.2bd8b8","fe2b9213.5b5e7","a0d472c1.d4d9a"]]},{"id":"8bc594a4.e9e068","type":"ui_gauge","z":"9b665e3e.49f8d","name":"","group":"991e2108.00a6d","order":4,"width":3,"height":3,"gtype":"gage","title":"Total Deaths","label":"","format":"{{value}}","min":0,"max":"100000","colors":["#c13421","#d40015","#ca3838"],"seg1":"","seg2":"","x":1070,"y":320,"wires":[]},{"id":"c51c0423.2bd8b8","type":"function","z":"9b665e3e.49f8d","name":"","func":"totalDeaths = 0;\n\nmsg.payload.Countries.map(function(line){\n    totalDeaths += line.TotalDeaths;\n});\n\nmsg.payload = totalDeaths;\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":320,"wires":[["8bc594a4.e9e068"]]},{"id":"329b28f9.52a318","type":"ui_gauge","z":"9b665e3e.49f8d","name":"","group":"991e2108.00a6d","order":3,"width":3,"height":3,"gtype":"gage","title":"Total Recovered","label":"","format":"{{value}}","min":0,"max":"100000","colors":["#c22f0c","#e6e600","#00be00"],"seg1":"","seg2":"","x":1080,"y":400,"wires":[]},{"id":"fe2b9213.5b5e7","type":"function","z":"9b665e3e.49f8d","name":"","func":"totalRecovered = 0;\n\nmsg.payload.Countries.map(function(line){\n    totalRecovered += line.TotalRecovered;\n});\n\nmsg.payload = totalRecovered;\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":400,"wires":[["329b28f9.52a318"]]},{"id":"3e4557e6.acd178","type":"ui_gauge","z":"9b665e3e.49f8d","name":"","group":"991e2108.00a6d","order":1,"width":3,"height":3,"gtype":"gage","title":"Total Countries","label":"","format":"{{value}}","min":0,"max":"241","colors":["#ee7b00","#e43135","#f23030"],"seg1":"","seg2":"","x":1080,"y":460,"wires":[]},{"id":"a0d472c1.d4d9a","type":"function","z":"9b665e3e.49f8d","name":"","func":"totalCountries = 0;\n\nmsg.payload.Countries.map(function(line){\n    totalCountries += 1;\n});\n\nmsg.payload = totalCountries;\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":460,"wires":[["3e4557e6.acd178"]]},{"id":"dcf731b.44823d","type":"trigger","z":"9b665e3e.49f8d","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":320,"y":240,"wires":[["5fa180f3.64f35"]]},{"id":"ff1c2fa5.c32a4","type":"ui_ui_control","z":"9b665e3e.49f8d","name":"","events":"change","x":160,"y":240,"wires":[["dcf731b.44823d"]]},{"id":"991e2108.00a6d","type":"ui_group","z":"","name":"Summary","tab":"a9f09b38.3aeeb8","disp":true,"width":"6","collapse":false},{"id":"a9f09b38.3aeeb8","type":"ui_tab","z":"","name":"Summary and World Map","icon":"dashboard","disabled":false,"hidden":false}]
