updates/03-apr-20/node-red/flows/Node-RED-Voice-Enabled-Chatbot-update.json
[
    {
        "id": "f0da90a6.43c0a",
        "type": "tab",
        "label": "Voice Enabled COVID Chatbot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8c4006fb.3cfac8",
        "type": "debug",
        "z": "f0da90a6.43c0a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 930,
        "y": 300,
        "wires": []
    },
    {
        "id": "9d44ec4e.1e203",
        "type": "switch",
        "z": "f0da90a6.43c0a",
        "name": "Intents",
        "property": "payload.intents[0].intent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "USinfectionlevel",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "How_many_cases",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "1db320da.7fbfdf"
            ],
            [
                "d5440a65.c82d38"
            ],
            [
                "65f760e3.6542c"
            ]
        ]
    },
    {
        "id": "690614f0.9ce7ac",
        "type": "comment",
        "z": "f0da90a6.43c0a",
        "name": "Reply to the user",
        "info": "",
        "x": 1280,
        "y": 340,
        "wires": []
    },
    {
        "id": "14fb25c2.5e535a",
        "type": "change",
        "z": "f0da90a6.43c0a",
        "name": "Pass the recorded transcript to Conversation",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "transcription",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatstart",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 100,
        "wires": [
            [
                "3585c005.73386",
                "dd0e53e8.16fcd",
                "74cfc361.2e92dc"
            ]
        ]
    },
    {
        "id": "4fb14865.48de08",
        "type": "watson-text-to-speech",
        "z": "f0da90a6.43c0a",
        "name": "",
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "en-US_MichaelVoice",
        "voicehidden": "en-US_MichaelVoice",
        "format": "audio/wav",
        "password": "",
        "apikey": "",
        "payload-response": true,
        "default-endpoint": false,
        "service-endpoint": "",
        "x": 1080,
        "y": 380,
        "wires": [
            [
                "4b0321fe.463f8"
            ]
        ]
    },
    {
        "id": "c4ae4d40.036c",
        "type": "debug",
        "z": "f0da90a6.43c0a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "complete": "transcription",
        "x": 530,
        "y": 60,
        "wires": []
    },
    {
        "id": "d03cbab6.77b7e8",
        "type": "debug",
        "z": "f0da90a6.43c0a",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 650,
        "y": 480,
        "wires": []
    },
    {
        "id": "65f760e3.6542c",
        "type": "function",
        "z": "f0da90a6.43c0a",
        "name": "Watson Conversation Reply",
        "func": "function createTextLinks(text) {\n\n  return (text || \"\").replace(\n    /([^\\S]|^)(((https?\\:\\/\\/)|(www\\.))(\\S+))/gi,\n    function(match, space, url){\n      var hyperlink = url;\n      if (!hyperlink.match('^https?:\\/\\/')) {\n        hyperlink = 'http://' + hyperlink;\n      }\n      return space + '<a href=\"' + hyperlink + '\">' + url + '</a>';\n    }\n  );\n}\n\nvar response = \"\"\n\nfor(i=0;i<msg.payload.output.generic.length;i++) {\n  response = response + msg.payload.output.generic[i].text ;\n}\n\nresponse = createTextLinks(response);\n\n// The news reports will have \\n, replace with breaks\nmsg.payload = response.replace(/(?:\\r\\n|\\r|\\n)/g, '<br />');\n\n// The news reports will have http: links. Make them \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "8c4006fb.3cfac8",
                "3585c005.73386",
                "4fb14865.48de08"
            ]
        ]
    },
    {
        "id": "4b0321fe.463f8",
        "type": "play audio",
        "z": "f0da90a6.43c0a",
        "name": "",
        "x": 1270,
        "y": 380,
        "wires": []
    },
    {
        "id": "dd0e53e8.16fcd",
        "type": "watson-conversation-v1",
        "z": "f0da90a6.43c0a",
        "name": "",
        "workspaceid": "75129bc2-fbe1-4651-a0c4-efdda4afb170",
        "multiuser": false,
        "context": false,
        "empty-payload": false,
        "default-endpoint": false,
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com",
        "timeout": "",
        "optout-learning": false,
        "x": 920,
        "y": 100,
        "wires": [
            [
                "28149d7d.0b3402",
                "ab074467.2f59f8"
            ]
        ]
    },
    {
        "id": "28149d7d.0b3402",
        "type": "debug",
        "z": "f0da90a6.43c0a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1150,
        "y": 100,
        "wires": []
    },
    {
        "id": "fcc04c0b.192e8",
        "type": "function",
        "z": "f0da90a6.43c0a",
        "name": "Total Confirmed Cases",
        "func": "\n\nmsg.payload = msg.payload.Global.TotalConfirmed;\n\nmsg.payload = \"Worldwide, there have been \"+msg.payload +\" total confirmed cases of COVID-19\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 520,
        "wires": [
            [
                "4fb14865.48de08",
                "1bed7a65.b66476",
                "3585c005.73386"
            ]
        ]
    },
    {
        "id": "d5440a65.c82d38",
        "type": "http request",
        "z": "f0da90a6.43c0a",
        "name": "Summary - Covid-19",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://api.covid19api.com/summary",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 440,
        "y": 500,
        "wires": [
            [
                "fcc04c0b.192e8",
                "d03cbab6.77b7e8"
            ]
        ]
    },
    {
        "id": "1bed7a65.b66476",
        "type": "debug",
        "z": "f0da90a6.43c0a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 520,
        "wires": []
    },
    {
        "id": "8a65bc8a.0ef1f",
        "type": "watson-speech-to-text",
        "z": "f0da90a6.43c0a",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "BroadbandModel",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "",
        "payload-response": false,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "default-endpoint": false,
        "service-endpoint": "",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "c4ae4d40.036c",
                "14fb25c2.5e535a"
            ]
        ]
    },
    {
        "id": "bdb43858.bbb868",
        "type": "ui_template",
        "z": "f0da90a6.43c0a",
        "group": "b0d96757.224d28",
        "name": "Chat History",
        "order": 0,
        "width": "10",
        "height": "15",
        "format": "<div id=\"{{'my_'+$id}}\" style=\"{{'color:'+theme.base_color}}\"></div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Render the chatbot table when msg arrives\n      $(\"#my_\"+scope.$id).html(msg.payload);\n      // scroll to Bottom\n      var elmnt = document.getElementById(\"chatbot\");\n      elmnt.scrollIntoView(false);\n    }\n  });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1150,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3585c005.73386",
        "type": "function",
        "z": "f0da90a6.43c0a",
        "name": "Build Chat table",
        "func": "var chathistory = flow.get(\"history\")||[];\nvar chatstart = flow.get(\"chatstart\");\nvar who;\n\nif( typeof(chatstart) == 'undefined' ) { chatstart = true ; }\nif(chatstart===true) {\n    who = \"Q\";\n} else {\n    who = \"A\";\n}\n\nvar newchatentry = {\"who\":\"\",\"text\":\"\"};\nif( chathistory.length === 0 ) {\n    // First chat, init the table\n    newchatentry = {\"who\":\"A\",\"text\":\"Hello, I’m the COVID Crisis Communication Bot ready to answer your questions about COVID-19. How can I help you?\"};\n    msg.newchatentry = newchatentry;\n    // Add the question, if its not a Clear Chat button press\n    if( msg.payload.length ) { \n        chathistory.push(newchatentry);\n        newchatentry = {\"who\":\"Q\",\"text\":msg.payload}; \n    }\n} else {\n    newchatentry = {\"who\":who,\"text\":msg.payload};\n}\n\nchathistory.push(newchatentry);\n\nmsg.payload=\"<style>\";\nmsg.payload=msg.payload+\"table { width: 488px; margin-top: 10px; }\";\nmsg.payload=msg.payload+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.payload=msg.payload+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.payload=msg.payload+\"</style>\";\n\nmsg.payload=msg.payload+\"<table id=\\\"chatbot\\\" span=100%><tr><th>Chat History</th></tr>\";\nfor( i = 0; i < chathistory.length; i++ ) {\n    if( chathistory[i].who == \"Q\" ) {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:right;\\\">\"+chathistory[i].text+\"</p></td></tr>\" ;\n    } else {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:left;background-color:#f2f2f2;\\\">\" +chathistory[i].text+\"</p></td></tr>\" ;\n    }\n}\n\nmsg.payload = msg.payload + \"</table>\";\nflow.set(\"chatstart\",false);\nflow.set(\"history\",chathistory);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 220,
        "wires": [
            [
                "bdb43858.bbb868",
                "219fbf54.3a667",
                "bfea1896.7ef4b8"
            ]
        ]
    },
    {
        "id": "219fbf54.3a667",
        "type": "debug",
        "z": "f0da90a6.43c0a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1150,
        "y": 160,
        "wires": []
    },
    {
        "id": "1928ca1b.4c55c6",
        "type": "inject",
        "z": "f0da90a6.43c0a",
        "name": "",
        "topic": "Clear Chat",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "a2f5c934.e24a78"
            ]
        ]
    },
    {
        "id": "a2f5c934.e24a78",
        "type": "change",
        "z": "f0da90a6.43c0a",
        "name": "delete history",
        "rules": [
            {
                "t": "delete",
                "p": "history",
                "pt": "flow"
            },
            {
                "t": "set",
                "p": "chatstart",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "3585c005.73386"
            ]
        ]
    },
    {
        "id": "f6ec029a.6bcce",
        "type": "ui_button",
        "z": "f0da90a6.43c0a",
        "name": "",
        "group": "1746d2af.72c40d",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Clear Chat",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "a2f5c934.e24a78"
            ]
        ]
    },
    {
        "id": "6e863a75.d13194",
        "type": "ui_microphone",
        "z": "f0da90a6.43c0a",
        "group": "1746d2af.72c40d",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "maxLength": 3,
        "timeslice": 0,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "8a65bc8a.0ef1f"
            ]
        ]
    },
    {
        "id": "ab074467.2f59f8",
        "type": "function",
        "z": "f0da90a6.43c0a",
        "name": "",
        "func": "if( typeof msg.payload.intents != 'undefined') {\n    if( msg.payload.intents.length > 0 ) {\n        if( typeof msg.payload.intents[0].intent!= 'undefined') {\n            return [msg, null];\n        }\n    }\n}\nmsg.payload = \"Sorry, the chat bot did not understand the question.\";\nreturn [null,msg];",
        "outputs": 2,
        "noerr": 0,
        "x": 110,
        "y": 360,
        "wires": [
            [
                "9d44ec4e.1e203"
            ],
            [
                "4fb14865.48de08"
            ]
        ]
    },
    {
        "id": "6cb16152.f449f",
        "type": "ui_gauge",
        "z": "f0da90a6.43c0a",
        "name": "",
        "group": "1746d2af.72c40d",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Total Confirmed Cases",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "2000000",
        "colors": [
            "#ca3838",
            "#ca3838",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1060,
        "y": 600,
        "wires": []
    },
    {
        "id": "5ebb5714.dad228",
        "type": "inject",
        "z": "f0da90a6.43c0a",
        "name": "Hourly updates",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "0 0 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 240,
        "y": 800,
        "wires": [
            [
                "e44ca405.dde8a8"
            ]
        ]
    },
    {
        "id": "e44ca405.dde8a8",
        "type": "http request",
        "z": "f0da90a6.43c0a",
        "name": "Data summary from covid19api",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://api.covid19api.com/summary",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 510,
        "y": 760,
        "wires": [
            [
                "d86f5114.490a7",
                "f74f99e7.4c26a8",
                "ac4d3a83.ae3228",
                "dd60bc7.ccd0f4",
                "4a5b20cb.de328"
            ]
        ]
    },
    {
        "id": "814c7277.f66bd",
        "type": "ui_gauge",
        "z": "f0da90a6.43c0a",
        "name": "",
        "group": "1746d2af.72c40d",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Total Deaths",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#c13421",
            "#d40015",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1030,
        "y": 680,
        "wires": []
    },
    {
        "id": "9cc2a044.3e659",
        "type": "ui_gauge",
        "z": "f0da90a6.43c0a",
        "name": "",
        "group": "1746d2af.72c40d",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Total Recovered",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#c22f0c",
            "#e6e600",
            "#00be00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1040,
        "y": 760,
        "wires": []
    },
    {
        "id": "51d5b19e.2880a",
        "type": "ui_gauge",
        "z": "f0da90a6.43c0a",
        "name": "",
        "group": "1746d2af.72c40d",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Total Countries",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#ee7b00",
            "#e43135",
            "#f23030"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1040,
        "y": 840,
        "wires": []
    },
    {
        "id": "d86f5114.490a7",
        "type": "function",
        "z": "f0da90a6.43c0a",
        "name": "Total Countries",
        "func": "let totalCountries = 0;\n\nmsg.payload.Countries.map(function(line){\n    totalCountries += 1;\n});\n\nmsg.payload = totalCountries;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 840,
        "wires": [
            [
                "51d5b19e.2880a"
            ]
        ]
    },
    {
        "id": "fc7810d.ea834f",
        "type": "trigger",
        "z": "f0da90a6.43c0a",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 260,
        "y": 720,
        "wires": [
            [
                "e44ca405.dde8a8"
            ]
        ]
    },
    {
        "id": "b29a1b9.f70b3e8",
        "type": "ui_ui_control",
        "z": "f0da90a6.43c0a",
        "name": "",
        "events": "change",
        "x": 100,
        "y": 720,
        "wires": [
            [
                "fc7810d.ea834f"
            ]
        ]
    },
    {
        "id": "f74f99e7.4c26a8",
        "type": "debug",
        "z": "f0da90a6.43c0a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 920,
        "wires": []
    },
    {
        "id": "f4f18011.3a9b",
        "type": "comment",
        "z": "f0da90a6.43c0a",
        "name": "https://covid19api.com/",
        "info": "",
        "x": 480,
        "y": 720,
        "wires": []
    },
    {
        "id": "306f9068.72a15",
        "type": "comment",
        "z": "f0da90a6.43c0a",
        "name": "Refresh the dashboard",
        "info": "",
        "x": 220,
        "y": 760,
        "wires": []
    },
    {
        "id": "74cfc361.2e92dc",
        "type": "debug",
        "z": "f0da90a6.43c0a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 960,
        "y": 40,
        "wires": []
    },
    {
        "id": "5b26283.1e752d8",
        "type": "function",
        "z": "f0da90a6.43c0a",
        "name": "US Confirmed Cases",
        "func": "let totalConfirmedCase = 0;\nlet countryName = \"\";\n\nmsg.payload.Countries.map(function(line){\n  if (line.CountryCode === 'US'){\n      totalConfirmedCase = line.TotalConfirmed;\n      countryName = line.Country;\n  }\n});\n\nmsg.payload = \"The \" + countryName + \" has \" + totalConfirmedCase + \" total confirmed cases of COVID-19\"\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 420,
        "wires": [
            [
                "4fb14865.48de08",
                "3585c005.73386"
            ]
        ]
    },
    {
        "id": "1db320da.7fbfdf",
        "type": "http request",
        "z": "f0da90a6.43c0a",
        "name": "Summary - Covid-19",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://api.covid19api.com/summary",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 440,
        "y": 420,
        "wires": [
            [
                "5b26283.1e752d8"
            ]
        ]
    },
    {
        "id": "ac4d3a83.ae3228",
        "type": "change",
        "z": "f0da90a6.43c0a",
        "name": "Total Confirmed Cases",
        "rules": [
            {
                "t": "move",
                "p": "payload.Global.TotalConfirmed",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 600,
        "wires": [
            [
                "6cb16152.f449f"
            ]
        ]
    },
    {
        "id": "dd60bc7.ccd0f4",
        "type": "change",
        "z": "f0da90a6.43c0a",
        "name": "Total Fatalities",
        "rules": [
            {
                "t": "move",
                "p": "payload.Global.TotalDeaths",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 680,
        "wires": [
            [
                "814c7277.f66bd"
            ]
        ]
    },
    {
        "id": "4a5b20cb.de328",
        "type": "change",
        "z": "f0da90a6.43c0a",
        "name": "Total Recovered",
        "rules": [
            {
                "t": "move",
                "p": "payload.Global.TotalRecovered",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 760,
        "wires": [
            [
                "9cc2a044.3e659"
            ]
        ]
    },
    {
        "id": "1b790124.045f0f",
        "type": "change",
        "z": "f0da90a6.43c0a",
        "name": "Total Confirmed Cases",
        "rules": [
            {
                "t": "move",
                "p": "msg.newchatentry.text",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "fb16197e.1b8ee8",
        "type": "debug",
        "z": "f0da90a6.43c0a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1350,
        "y": 220,
        "wires": []
    },
    {
        "id": "bfea1896.7ef4b8",
        "type": "function",
        "z": "f0da90a6.43c0a",
        "name": "Welcome message",
        "func": "\nif (msg.hasOwnProperty('newchatentry')) {\n    msg.payload = msg.newchatentry.text\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 240,
        "wires": [
            [
                "fb16197e.1b8ee8",
                "4fb14865.48de08"
            ]
        ]
    },
    {
        "id": "1f2c2d47.9a5f63",
        "type": "ui_ui_control",
        "z": "f0da90a6.43c0a",
        "name": "",
        "events": "all",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "a2f5c934.e24a78"
            ]
        ]
    },
    {
        "id": "b0d96757.224d28",
        "type": "ui_group",
        "z": "",
        "name": "Chat",
        "tab": "c6fde6c2.fd03f8",
        "order": 2,
        "disp": false,
        "width": "10",
        "collapse": false
    },
    {
        "id": "1746d2af.72c40d",
        "type": "ui_group",
        "z": "",
        "name": "Record",
        "tab": "c6fde6c2.fd03f8",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c6fde6c2.fd03f8",
        "type": "ui_tab",
        "z": "",
        "name": "COVID Voice Chatbot",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]